<div class="container__big-card">
  <div class="big-card__image">
    <img src="https://i.stack.imgur.com/luaq2.png"
    alt=""
    height="200px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Agular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
       blablabla blabla blabla bla bla bla bla blablabla blabla blabla bla bla bla blablablabla blabla blabla bla bla bla blablablabla blabla blabla bla bla bla blablablabla blabla blabla bla bla bla blablablabla blabla blabla bla bla bla blablablabla blabla blabla bla bla bla blablablabla blabla blabla bla bla bla blablablabla blabla blabla bla bla bla bla
      </a>
    </p>
  </div>
</div>
