<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxw7_uVmQc3rnQVMuHVrrjK1Vv3D1SgQlL3w&usqp=CAU"
      cardTitle="CAMALEÃO CAMINHONEIRO"
      cardDescription="Camaleão cominhoneiro posa para foto no seu big truck em posto de gasolina"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://news.wttw.com/sites/default/files/field/image/Chameleon%20hero_0622.jpg"
      cardTitle="CAMALEÃO MUDOU DE COR"
    >
    </app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxw7_uVmQc3rnQVMuHVrrjK1Vv3D1SgQlL3w&usqp=CAU"
      cardTitle="NOVA SÉRIE ANUNCIADA 2"
    >
    </app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxw7_uVmQc3rnQVMuHVrrjK1Vv3D1SgQlL3w&usqp=CAU"
      cardTitle="NOVA SÉRIE ANUNCIADA "
    >
    </app-small-card>
  </div>
</div>
