<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxw7_uVmQc3rnQVMuHVrrjK1Vv3D1SgQlL3w&usqp=CAU"
      cardTitle="Teste de Título"
      cardDescription="Descrição do card grande aqui nesta parte"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxw7_uVmQc3rnQVMuHVrrjK1Vv3D1SgQlL3w&usqp=CAU"
        cardTitle="NOVA SÉRIE ANUNCIADA 1"
    >
    </app-small-card>
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxw7_uVmQc3rnQVMuHVrrjK1Vv3D1SgQlL3w&usqp=CAU"
      cardTitle="NOVA SÉRIE ANUNCIADA 2"
    >
    </app-small-card>
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxw7_uVmQc3rnQVMuHVrrjK1Vv3D1SgQlL3w&usqp=CAU"
      cardTitle="NOVA SÉRIE ANUNCIADA 3"
    >
    </app-small-card>
  </div>
</div>
